<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>MagicDB</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="#">
                  <img src="../img/magic_logo_a_changer.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  My magic DB
                </a>
              </nav>
        </header>

        <h1>Hello, world!</h1>

        <select class="form-select" aria-label="Default select example" name="chosen_deck">
            {% for item in data %}
                <option value="{{ item.deck_name }}">{{ item[1] }}</option>

            {% endfor %}
        </select>
        
        <form action = "http://localhost:5000/login" method = "post">
            <p>Enter Name:</p>
            <p><input type = "text" name = "nm" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        {{ data }}
        <div>
            {% for item in data %}
                <li>{{item}}</li>
                <li>{{item.dno}}</li>
                <li>{{item.deck_name}}</li>
            {% endfor %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>